<%- include('./layout/header');  -%> 
    <div class="card w3-center w3-white w3-card w3-border ww-margin" style="max-width: 500px; margin: auto;margin-top:80px;border-radius: 14px;">
        <img src="../../images/favicon.png" alt="Abhijeet" style="width:50%">
        <h1>Abhijeet Sharma (B+)</h1>
        <h3 class="w3-text-grey">abhijeetsharma@gmail.com </h3>
        <h4> Patliputra, Bihar 848485 </h4>
        <button class="w3-button w3-light-grey w3-hover-red w3-padding-large">Call +91 9004869069</button><br><br>
        <a id="logoutbtn" href="../../donor/logout" class="w3-button w3-red w3-padding-large">Logout </a><br><br>
    </div>

<%- include('./layout/footer');  -%> 