<%- include('./layout/header') -%>

<div class="w3-col s12 m12 l4" style="padding-top: 50px">
    <form class="w3-container w3-margin w3-card-4 w3-light-grey" style="border-radius: 8px; border:1px solid black; max-width: 415px">
        <h2 class="w3-center w3-text-black"> 
            <i class="fa fa-user-circle"></i>    Donor Login 
        </h2>
        <h4>Username</h4><input class="w3-input w3-white w3-border" type="text">
        <h4>Password</h4><input class="w3-input w3-white w3-border" type="password"><br>
        <button class="w3-button w3-black w3-hover-red" type="button">  Login <i class="fa fa-paper-plane"></i> </button><br><br>
    </form>
</div> 

<%- include('./layout/footer') -%>