<!-- Footer -->
<footer class="w3-padding-32 w3-center w3-panel w3-pale-red w3-bottombar w3-border-red">
        <h3>
            <i class="fa fa-flash"></i>
             Powered by <a rel="noreferrer" href="https://github.com/iamabs2001" target="_blank"> SIGMA NGO </a>
        </h3>
    </footer>
    
    <script async src="./javascripts/app.js"></script>
</body>

</html>
